#home{
  text-align:center;
}

table{
  margin:auto;
  width:100%;
  max-width:700px;
  z-index:1;
  border:1px solid black;
  text-align:center;
}

table, th, td{
 border: 1px solid #333;
}

.data{
  width:2%;
}

.dataTop{
  max-height:10px;
}

.cardArea{
  height:180px;
  width:300px
}

#resetBtn{
  display:block;
  margin:auto;
  margin-bottom:10px;
}

.score{
  display:inline-block;
  margin-bottom:5px;
  margin-right:10px;
}

.score > input {
  width:40px;
}
