.Card{
  background-color: whitesmoke;
  height: 150px;
  width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top:32px;
  padding-bottom:44px;
  border:1px solid lightgrey;
  border-radius:5px 5px 5px 5px;
}

.CardContainer{
  background-color:whitesmoke;
  height:95%;
  min-width:85px;
  margin:auto;
  max-width:17%;
  min-height:25px;
}

.Card-Symbol{
  margin-bottom: 5px;
}

.diamond{
  width: 30px;
	height: 30px;
	background: red;
  margin:auto;
  border:1px solid black;
}

.oval{
  width:80px;
  height:20px;
  background-color:red;
  border-radius:20px 20px 20px 20px;
  margin:auto;
  border:1px solid black;
}

.squiggle{
	width: 60px;
	height: 20px;
  margin:auto;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
  border:5px;
}

.card-red{
  background-color: red;
  border:3px solid red;
}

.card-green{
  background-color: green;
  border:3px solid green;
}

.card-purple{
  background-color: purple;
  border:3px solid purple;
}

.card-solid{
  opacity: 1
}

.card-striped{
  opacity: 0.3
}

.card-open{
  background-color: transparent;
  /*opacity: 0*/
}

.card-highlighted{
  border:2px solid yellow;
  transform: rotate(-8deg)
}
